.main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 196px;
}

@media (max-width: 1200px) {
  .main {
    padding: 0 48px;
  }
}

@media (max-width: 992px) {
  .main {
    padding: 0;
  }
}