.section {
  padding: 0 0 125px;
}

.title {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FEFEFE;
  font-family: var(--font-family);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 87px;
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .section {
    padding: 0 16px 60px;
  }

  .title {
    font-size: 20px;
  }

  .cards {
    gap: 40px;
    align-items: center;
  }
}